:root {
  --primary: rgb(34, 34, 34);
  --textPrimary: whitesmoke;
  --buttonPrimary: rgb(65, 65, 65);
}

html,
body {
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  /* background-color: rgb(235, 236, 230); */
  background-color: rgb(43, 43, 43);
  margin: 0px;
  position: relative;

  overflow-x: hidden;
}

/* navbar */
.navbar {
  background-color: var(--primary);
  justify-content: space-between;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 75px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10;
}

.nav-button-container {
  display: flex;
  justify-content: center;
  width: 33vw;
}

.nav-button {
  background-color: var(--primary);
  color: var(--textPrimary);
  border: none;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  border-radius: 5px;
  padding: 5px 10px;
  transition: ease-in-out 0.25s;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.nav-button:hover {
  background-color: var(--buttonPrimary);
}

.nav-button-span {
  display: block;
}

.nav-button-icon {
  display: none !important;
}
/* .left-nav-button {
  left: 10%;
}
.right-nav-button {
  right: 10%;
} */

.container {
  margin: 0px 0px 0px 0px;
}
.nav-container {
  background-color: var(--primary);
  justify-content: center;
  align-items: center;
  padding: 0px;
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
}

.link {
  color: inherit;
}

.logo {
  max-height: 30px;
}

.nav-button-container-empty {
  display: block;
}

/* navbar media queries */
@media only screen and (max-width: 1000px) {
  .logo {
    max-width: 30vw;
  }
}
@media only screen and (max-width: 550px) {
  .logo {
    max-width: 55vw;
  }
  .nav-button-container {
    width: 20vw;
  }
  .nav-button-span {
    display: none !important;
  }
  .nav-button-icon {
    display: block !important;
  }
}

.shade-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* level cards */
.home {
  display: flex;
  justify-content: center;
}

.home-levels-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1000px;
  width: 80vw;
  margin: 80px auto 30px auto;
  gap: 0px 20px;
}

.card-level-name {
  position: absolute;
  color: var(--textPrimary);
  font-size: 22px;
  left: 50%;
  top: 3%;
  transform: translate(-50%, 0);
}

.card-level-container {
  max-height: 100%;
  max-width: 200px;
  margin: 15px auto;
  position: relative;
  place-self: center;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s linear;
}
.card-level-container:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.85);
}

.card-level-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 10px;
}

/* card level media queries */
@media only screen and (max-width: 750px) {
  .card-level-name {
    font-size: 18px;
  }
}
@media only screen and (max-width: 620px) {
  .card-level-name {
    font-size: 16px;
  }
}
@media only screen and (max-width: 570px) {
  .home-levels-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-level-name {
    font-size: 22px;
  }
}
@media only screen and (max-width: 400px) {
  .home-levels-container {
    grid-template-columns: repeat(2, 1fr);
    width: 86vw;
    margin: 80px auto 30px auto;
  }
  .card-level-name {
    font-size: 20px;
  }
}

/* character image */

.character-container {
  margin: 5px 10px;
  height: 4rem;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: 0.32s linear;
  cursor: pointer;
}
.character-container:hover {
  transform: scale(2);
  height: 8rem;
  margin: 5px 50px;
}
.faded {
  opacity: 0.3;
}
.character-img {
  max-height: 55px;
}
.character-name {
  text-align: center;
  margin: 5px;
  color: var(--textPrimary);
}

.game-board-image {
  width: 100%;
}

/* character images media queries */
@media only screen and (max-width: 570px) {
  .character-img {
    max-height: 45px;
  }
  .character-name {
    font-size: 14px;
  }
}
@media only screen and (max-width: 420px) {
  .character-img {
    max-height: 40px;
  }
  .character-name {
    font-size: 13px;
  }
  .nav-button-container-empty {
    display: none;
  }
}

/* character dropdown */
.character-dropdown-menu {
  width: 14rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  background-color: var(--primary);
  overflow: auto;
}
.character-dropdown-a {
  color: var(--textPrimary);
  padding: 0.75rem;
  display: block;
  text-decoration: inherit;
}
.character-dropdown-div {
  display: flex;
  align-items: center;
}
.character-dropdown-img {
  width: 1.5rem;
  object-fit: contain;
  margin-right: 0.5rem;
  height: 1.5rem;
  max-width: 100%;
  display: block;
}

.absolute {
  position: absolute;
}
.hidden {
  display: none;
}

/* modal */
.game-over-modal-container {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}
.game-over-modal-content-container {
  width: auto;
  position: relative;
  max-width: 48rem;
  margin: 1.5rem auto;
}
.modal-contianer {
  position: relative;
  flex-direction: column;
  display: flex;
  background-color: var(--primary);
  color: var(--textPrimary);
  border-radius: 5px;
  width: 100%;
}
.modal-content-container {
  padding: 1.25rem;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: solid 1px grey;
}
.modal-text {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  margin: 0px;
  text-align: center;
}
.modal-close-button {
  background-color: var(--primary);
  color: var(--textPrimary);
  border: none;
  padding: 0.25rem;
  line-height: 1;
  margin-left: auto;
  font-size: 1.875rem;
  float: right;
  cursor: pointer;
}
.modal-close-x {
  width: 1.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  height: 1.5rem;
  display: block;
}
.modal-form-loading-container {
  padding: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  display: flex;
}
.modal-form-container {
  position: relative;
  padding: 1.5rem;
  flex: 1 1 auto;
}
.modal-form-prompt {
  color: var(--textPrimary);
  margin-bottom: 1rem;
  margin-top: 0rem;
  line-height: 1.625;
  font-size: 1.125rem;
}
.modal-form-username {
  color: var(--textPrimary);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  display: block;
}
.modal-form-username-input {
  width: 90%;
  padding: 1rem;
  margin-top: 0.75rem;
  display: block;
  border: solid 1px grey;
  border-radius: 0.375rem;
  background-color: var(--primary);
  color: var(--textPrimary);
  font-size: 2em;
}
.modal-form-button-container {
  padding: 1.5rem;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  border-top: solid 1px grey;
}
.modal-form-cancel-button {
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 0.25rem;
  margin-right: 0.25rem;
  font-weight: 700;
  background-color: rgb(235, 61, 61);
  border-radius: 5px;
  color: inherit;
}
.modal-form-submit-button {
  padding: 0.5rem 1.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 0.25rem;
  margin-right: 0.25rem;
  font-weight: 700;
  background-color: var(--buttonPrimary);
  border: none;
  border-radius: 5px;
  color: var(--textPrimary);
  cursor: pointer;
}

/* leaderboard */
.leaderboard-container {
  margin: 6.5rem auto auto auto;
  display: flex;
  flex-direction: column;
  max-width: 65rem;
}
.leaderboard-title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  letter-spacing: -0.025em;
  color: var(--textPrimary);
}
.leaderboard-buttons-container {
  margin-bottom: 2rem;
}
.leaderboard-levels-grid {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-gap: 0.85rem;
  gap: 0.85rem;
  margin-bottom: 1rem;
  margin: auto;
}
.leaderboard-level-container {
  position: relative;
  place-self: center;
  cursor: pointer;
  border-radius: 5px;
  max-height: 16rem;
  transition: all 0.2s ease;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
}
.leaderboard-level-container-active {
  transform: scale(1.04);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.85);
}
.leaderboard-level-container:hover {
  transform: scale(1.03);
}
.leaderboard-level-image {
  border-radius: 5px;
  max-height: 16rem;
}
.leaderboard-level-image-active {
  transform: scale(1.03);
}
.leaderboard-level-name {
  color: var(--textPrimary);
  font-size: 1rem;
  position: absolute;
  left: 50%;
  top: 5.8%;
  transform: translate(-50%, 0);
}
.leaderboard-level-title {
  margin: 1.5rem auto 1rem auto;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.85);
  padding: 2px 35px;
  border-radius: 100px;
}

/* leaderboard media queries */
@media only screen and (max-width: 1100px) {
  .leaderboard-levels-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 50px));
    gap: 5px 20px;
  }
  .leaderboard-level-container {
    height: 40px;
    width: 20vw;
    border-radius: 50px;
    overflow: hidden;
  }
  .leaderboard-level-image {
    opacity: 0;
    height: 40px;
  }
  .leaderboard-level-name {
    color: rgba(255, 255, 255, 0.85);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.3px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  /* jelly buttons */
  /* .leaderboard-level-container::before {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    background: rgba(255, 255, 255, 0.445);
    border-radius: 70%;
    opacity: 0.25;
    background-image: linear-gradient(
      -270deg,
      rgba(255, 255, 255, 0) 0%,
      #ffffffc0 20%,
      #ffffffc0 80%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .leaderboard-level-container::after {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    background: #fff;
    border-radius: 100%;
    filter: blur(1px);
    opacity: 0.1;
    background-image: linear-gradient(
      -270deg,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 20%,
      #ffffff 80%,
      rgba(255, 255, 255, 0) 100%
    );
  } */
}

@media only screen and (max-width: 400px) {
  .leaderboard-level-name {
    font-size: 14px;
  }
}

/* leaderboard table */
.leaderboard-table-container {
  vertical-align: middle;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  display: inline-block;
  margin: auto;
}
.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
  text-indent: 0;
  border-radius: 5px;
}
.leaderboard-table-column-header {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--textPrimary);
  background-color: var(--primary);
  text-align: left;
  padding: 0.75rem 1.5rem;
}
.col-header-left {
  border-top-left-radius: 5px;
  width: 10%;
  text-align: center;
}
.col-header-middle {
  width: 30%;
}
.col-header-right {
  border-top-right-radius: 5px;
}
.leaderboard-table-body {
  border: solid 1px gray;
}
.leaderboard-row {
  border-bottom: solid 1px gray;
}
.leaderboard-place-cell {
  white-space: nowrap;
  text-align: center;
  padding: 1rem 1.5rem;
  color: var(--textPrimary);
}
.leaderboard-name-cell {
  white-space: nowrap;
  padding: 1rem 1.5rem;
}
.leaderboard-name-text {
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--textPrimary);
}
.leaderboard-time-cell {
  color: var(--textPrimary);
  white-space: nowrap;
  padding: 1rem 1.5rem;
}

/* leaderboard media queries */
@media only screen and (max-width: 1100px) {
  .leaderboard-table-container {
    width: 90vw;
  }
}
@media only screen and (max-width: 700px) {
  .leaderboard-place-cell {
    padding: 16px;
    max-width: 40px;
  }
  .leaderboard-table-column-header {
    padding: 16px;
  }
}
@media only screen and (max-width: 500px) {
  .leaderboard-table-container {
    overflow-x: scroll;
  }
}

/* leaderboard title colors */
.N64,
.Gamecube {
  background-color: #bd3b39;

  /* jelly button */
  /* background-image: linear-gradient(-180deg, #bd4444 0%, #a52738 100%);
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.699),
    0 -0.25rem 1.5rem rgb(155, 15, 22) inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 rgb(207, 70, 77) inset; */
}
.Dreamcast {
  background-color: #218cb8;

  /* jelly button */
  /* background-image: linear-gradient(-180deg, #28a5d6 0%, #196d9e 100%);
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.699),
    0 -0.25rem 1.5rem rgb(29, 77, 105) inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 rgb(70, 157, 207) inset; */
}
.PS1,
.PS2,
.PS4 {
  background-color: #48428a;

  /* jelly button */
  /* background-image: linear-gradient(-180deg, #564eac 0%, #201d44 100%);
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.699),
    0 -0.25rem 1.5rem rgb(52, 37, 87) inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 rgb(84, 70, 207) inset; */
}
.XBox,
.XBox360 {
  background-color: #359e4a;

  /* jelly button */
  /* background-image: linear-gradient(-180deg, #48cf63 0%, #166627 100%);
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.699),
    0 -0.25rem 1.5rem rgb(15, 155, 27) inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 rgb(81, 207, 70) inset; */
}

/* info */
.info-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--primary);
  width: fit-content;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 5px;
  margin: 100px auto;
}
.about-p {
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  color: var(--textPrimary);
  font-size: 2rem;
}
.github-logo {
  max-height: 25px;
  margin: auto 5px;
}
.info-ul {
  color: var(--textPrimary);
  margin: auto;
  width: fit-content;
}
.info-li {
  text-align: left;
  width: fit-content;
  margin: 0%;
  font-size: 18px;
  letter-spacing: 0.3px;
}
.github-link-a {
  justify-content: center;
  align-items: center;
  color: var(--textPrimary);
  text-decoration: none;
  cursor: pointer;
}
.about-link-a {
  color: var(--textPrimary);
}

/* info media queries */
@media only screen and (max-width: 800px) {
  .about-p {
    font-size: 24px;
  }
}
@media only screen and (max-width: 600px) {
  .about-p {
    font-size: 20px;
  }
  .info-li {
    font-size: 14px;
  }
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
